.sitebar_area{
    background-color: #1E1E2D;
    max-height: 100vh;
    min-height: 100%;    
}
.layout .container-fluid{
    padding-left: 0px;
}
.layout a svg{
    margin-right: 10px;
}
.logo a {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 0px;
    display: block;
}
.logo a:hover{
    color: #fff;
    text-decoration: none !important;
}
.sitebar_area{
    padding-left: 20px;
}
.dashboard{
    margin: 18px 0px;
}
.dashboard a{
    padding: 9px 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    text-transform: initial;
    transition: 0.5s;
}
.dashboard a:hover{
    color: #a2a3b7;
}
.side_bar_menu li{
    padding: 10px 0px;
}
.side_bar_menu li a{
    font-size: 13px;
    font-weight: 300;
    font-family: Poppins;
    color: #a2a3b7;
    text-decoration: none;
    transition: 0.5s;
}
.side_bar_menu li a:hover{
    color: #fff;
}
.header_area{
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0px;
    margin-bottom: 18px;
}
.dashboard_content_area{
    min-height: calc(100vh - 124px);
    max-height: calc(100% - 124px);
}
.content_header{
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.page_action_btn{
    float: right;
}
.page_title h1{
    font-size: 18px;
    font-weight: 500;
    margin: 0px;
}
.page_title h1 svg{
    font-size: 16px;
    margin-right: 8px;
    color: #0baf62;
}
.footer_area{
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #ddd;
    padding: 10px 0px;
}
.form_error{
    font-size: 14px;
    color: red;
}
.modal-footer{
    margin-top: 28px;
}
.modal-title{
    font-size: 18px !important;
}
.modal-body label {
    display: inline-block;
    font-size: 14px;
}

.modal-body .form-control {
    font-size: 14px;
}
.error{
    font-size: 14px;
}
